<%- include ('../includes/head.ejs') %>
<main>
  <div class="container shadow-lg mt-5 p-5 rounded-5" style="max-width: 600px;">
    <h1 class="text-center">Reset Password</h1>
    <% if(errorMessage) { %>
      <div class="text-center alert alert-danger mt-5" role="alert"><%= errorMessage %></div>
    <% } %>
    <form action="/reset" method="post">
      <div class="form-floating mt-5 mb-3">
        <input type="email" name="email" id="floatingEmail" placeholder="abcxyz@email.acb" class="form-control">
        <label for="floatingEmail">Email</label>
      </div>
      <div class="text-center">
        <button class="btn btn-dark w-100 py-2 fs-4 mt-3" type="submit">Send Email</button>
      </div>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    </form>
    <div class="text-end mt-3 ">
      <a href="/" class="link-dark">Main Page</a>
    </div>
    
  </div>
</main>
<%- include ('../includes/end.ejs') %>