<%- include('includes/head.ejs') %>
  <body>
    <%- include('includes/nav.ejs') %>
    <main>
      <div class="container p-5 mt-5">
        <p class="display-1 fw-bold text-center">PAGE NOT FOUND!</p>
        <p class="display-5 text-center">
          Please use the navigation bar to redirect to our page!
        </p>
        <!-- List of Product -->
      </div>
    </main>
<%- include('includes/end.ejs') %>