<%- include('includes/head.ejs') %>
  <body>
    <main>
      <div class="container p-5 mt-5">
        <p class="display-1 fw-bold text-center">SOMETHING WENT WRONG!</p>
        <p class="display-5 text-center">
          We're working on fixing this, sorry for the inconvenience!
        </p>
        <!-- List of Product -->
      </div>
    </main>
<%- include('includes/end.ejs') %>